@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;700&display=swap');

html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    @apply font-inter;
}

/* some fixes required due to nuxt3-beta... */
.underline-offset-14 {
    text-underline-offset: 14px;
}

.form-switch .form-check-input {
	margin-top: .1rem;
	background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3E%3Ccircle r='3' fill='%23fff'/%3E%3C/svg%3E");
	background-position: 0;
	-webkit-transition: background-position .15s ease-in-out;
	transition: background-position .15s ease-in-out;
}

.form-switch .form-check-input:checked {
    background-position: 100%;
}
.form-switch .form-check-input:checked, .form-switch .form-check-input:focus {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3E%3Ccircle r='3' fill='%23fff'/%3E%3C/svg%3E");
}

.form-check-input:checked {
    background-color: rgb(3 105 161);
    border-color: rgb(3 105 161);
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.15s linear;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}

.smargins {
    margin: 2px;
}



.tooltip {
    padding: 4px 8px;
    font-size: 13px;
    border-radius: 4px;
    display: none;
    max-width: 310px;
    text-align: center;
}

.tooltip[data-show] {
    display: block;
}

#arrow,
#arrow::before {
    position: absolute;
    width: 8px;
    height: 8px;
    background: inherit;
}

#arrow {
    visibility: hidden;
}

#arrow::before {
    visibility: visible;
    content: '';
    transform: rotate(45deg);
}

.tooltip[data-popper-placement^='top'] > #arrow {
    bottom: -4px;
}

.tooltip[data-popper-placement^='bottom'] > #arrow {
    top: -4px;
}

.tooltip[data-popper-placement^='left'] > #arrow {
    right: -4px;
}

.tooltip[data-popper-placement^='right'] > #arrow {
    left: -4px;
}

.height-offset-fix {
    height: 1.1rem;
}

.max-width-hack {
    max-width: calc(90% - 16px);
}